[Unit]
Description=Get Application Ready
After=default.target

[Service]
Type=oneshot
ExecStart=/usr/bin/echo "Application is getting ready..."


[Install]
WantedBy=myapp.target
