[Unit]
Description=Get Application Ready
Requires=systemd-networkd.service
After=systemd-networkd.service network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/echo "Application is getting ready..."

